<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>

  <configSections>

    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->

    <sectionGroup name="SMARTonFhirConfigurationGroup">
      <section
        name="SmartOnFhirConfiguration01"
        type="MArkB.SMARTonFhir.Cerner.Utilities.SMARTonFhirConfigurationSection, MArkB.SMARTonFhir.Cerner"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
      <section
        name="SmartOnFhirConfiguration02"
        type="MArkB.SMARTonFhir.Cerner.Utilities.SMARTonFhirConfigurationSection, MArkB.SMARTonFhir.Cerner"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>

  </configSections>
  
    <appSettings>
      <add key="WhichSmartOnFhirConfigurationToUse" value="SmartOnFhirConfiguration02" />
    
  
    </appSettings>

    <connectionStrings>

    </connectionStrings>


  <SMARTonFhirConfigurationGroup>
    <SmartOnFhirConfiguration01 requiresAuthentication="true">
      <fhirDataTargets
      baseFhirUrl="https://fhir-ehr.sandboxcerner.com/dstu2"
      fhirVersionFolder="dstu2/"
      serviceIdentifier="0b8a0111-e8e6-4c26-a91c-5069cbc6b1ca"
        />
      <fhirTokens
        appClientId="cea41836-544e-4d49-b4fb-ba0c64b47f8e"
        appSecret="ad29f362-9c17-4b28-a07e-20733cb892a3"
       />
    </SmartOnFhirConfiguration01>
  </SMARTonFhirConfigurationGroup>
  
  
  <SMARTonFhirConfigurationGroup>
    <SmartOnFhirConfiguration02 requiresAuthentication="true">
      <fhirDataTargets
      baseFhirUrl="https://fhir-ehr.sandboxcerner.com/dstu2"
      fhirVersionFolder="dstu2/"
      serviceIdentifier="0b8a0111-e8e6-4c26-a91c-5069cbc6b1ca"
        />
      <fhirTokens
        appClientId="cea41836-544e-4d49-b4fb-ba0c64b47f8e"
        appSecret="ad29f362-9c17-4b28-a07e-20733cb892a3"
       />
    </SmartOnFhirConfiguration02>
  </SMARTonFhirConfigurationGroup>
    
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.TelemetryCorrelation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
